<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include $_SERVER["DOCUMENT_ROOT"]."/views/public/css.html" ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/static/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-xs-offset-1 col-xs-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" name="tc_name" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="tc_pass" class="form-control" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include $_SERVER["DOCUMENT_ROOT"]."/views/public/js.html" ?>
    
    <!--<script>-->
        <!--//给表单注册提交事件-->
      <!--$("form").submit(function(){-->
        <!--//判断输入框中的内容是否为空-->
        <!--if($("input[name='tc_name']").val().trim()==''){-->
          <!--alert("请输入用户名");-->
          <!--return false;-->
        <!--}-->
        <!--if($("input[name='tc_pass']").val().trim()==''){-->
          <!--alert("请输入密码");-->
          <!--return false;-->
        <!--}-->
        <!--//获取input框中的内容-->
        <!--var data=$(this).serialize();//表单序列化(input框必须要有name属性)-->
<!--//        console.log(data);-->
        <!--//发送ajax请求-->
        <!--$.ajax({-->
          <!--url:"/api/login",-->
          <!--type:"post",-->
          <!--data:data,-->
          <!--success:function(data){-->
<!--//            将返回的data数据存在cookie中,为了主页头像和用户名的同步-->
<!--//            返回的数据是json时对象的形式-->
              <!--if(data.code == 200){-->
                <!--//如果状态码是200即请求成功,即添加cookie-->
                <!--$.cookie("userifon",JSON.stringify(data.result),{path:'/'});-->
              <!--}-->
            <!--//登录成功后跳转主页面-->
            <!--location.href='/';-->
          <!--}-->
        <!--})-->
        <!--return false;-->
      <!--})-->
    <!--</script>-->
</body>
</html>